[data-component="switch"] {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  [data-slot="switch-input"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  [data-slot="switch-control"] {
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 999px;
    border: 1px solid var(--border-weaker-base);
    background: var(--surface-raised-strong);
    transition:
      background-color 150ms,
      border-color 150ms,
      box-shadow 150ms;
  }

  [data-slot="switch-thumb"] {
    width: 14px;
    height: 14px;
    box-sizing: content-box;
    border-radius: 999px;
    border: 1px solid var(--border-weaker-base);
    background: #ffffff;

    box-shadow: none;

    transform: translateX(1px);
    transition:
      transform 150ms,
      background-color 150ms,
      border-color 150ms;
  }

  [data-slot="switch-label"] {
    user-select: none;
    color: var(--text-base);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-large);
    letter-spacing: var(--letter-spacing-normal);
  }

  [data-slot="switch-description"] {
    color: var(--text-base);
    font-family: var(--font-family-sans);
    font-size: 12px;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  [data-slot="switch-error"] {
    color: var(--text-error);
    font-family: var(--font-family-sans);
    font-size: 12px;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  &:hover:not([data-disabled], [data-readonly]) [data-slot="switch-control"] {
    border-color: var(--border-weak-hover);
    background-color: var(--surface-raised-stronger);
  }

  &:not([data-readonly]) [data-slot="switch-input"]:focus-visible ~ [data-slot="switch-control"] {
    border-color: var(--border-focus);
    box-shadow: var(--shadow-xs-border-focus);
  }

  &[data-checked] [data-slot="switch-control"] {
    box-sizing: border-box;
    border-color: var(--switch-interactive-base, var(--surface-interactive-base));
    background-color: var(--switch-interactive-base, var(--surface-interactive-base));
  }

  &[data-checked] [data-slot="switch-thumb"] {
    border-color: transparent;
    transform: translateX(13px);
    background-color: #ffffff;
  }

  &[data-checked]:hover:not([data-disabled], [data-readonly]) [data-slot="switch-control"] {
    border-color: var(--switch-interactive-hover, var(--surface-interactive-hover));
    background-color: var(--switch-interactive-hover, var(--surface-interactive-hover));
  }

  &[data-disabled] {
    cursor: not-allowed;
  }

  &[data-disabled] [data-slot="switch-control"] {
    border-color: var(--border-disabled);
    background-color: var(--surface-raised-base);
  }

  &[data-disabled] [data-slot="switch-thumb"] {
    border-color: var(--border-disabled);
    background-color: var(--surface-raised-stronger);
  }

  &[data-invalid] [data-slot="switch-control"] {
    border-color: var(--border-error);
  }

  &[data-readonly] {
    cursor: default;
    pointer-events: none;
  }
}
